@import "/packages/font-awesome-4-less/font-awesome.import.less";

@base-bg: #fff;
@base-color: #333;
@link: steelblue;
@muted: gray;
@dark: #242424;
@button: lighten(@muted, 45%);

@font-face {
    font-family: "Open Sans"; 
    src: url("/OpenSans-Regular.ttf") format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: "Open Sans"; 
    src: url("/OpenSans-Bold.ttf") format('truetype');
    font-weight: bold;
}
		    

html,body {
	width: 100%;
	height: 100%;
}
body {
   font-family: "Open Sans", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
   line-height: 1.5em;
   margin: 0 auto;
}
input {
	font-family: "Open Sans", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	display: inline-block;
}
p {
	margin: 0;
}
a {
	text-decoration: none;
	cursor: pointer;
	color: @link;
	&:hover {
		text-decoration: underline;
	}
	.panel {
		color: #333;
		cursor: default;
	}
	&[target=_blank] {
		color: tomato;
		border-bottom: none;
		&:hover {
			text-decoration: underline;
		}
	}
}
/****************************************************
		 app-wrap
****************************************************/
.app-wrap {
	min-width: 100%;
	min-height: 100%;
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: stretch;
	align-items: stretch;
	#menu-wrap {
		margin: 0px;
		width: 200px;
		display:flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-content: stretch;
		align-items: stretch;
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
		&.hide-menu {
			margin-left: -200px;
			// border-right: 5px solid @dark;
		}
	}
	#content-wrap {
		position: relative;
		width: 280px;
		flex-grow: 1;
		display:flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-content: stretch;
		align-items: stretch;
		.content {
			width: 700px;
			margin: 0 30px;
		}

	}
	#index-wrap {
		width: 150px;
	}
}
.title-bar .fa, .topbar .fa, .page-title .fa, .bar .fa{
	color:@muted;
	background-color: @button;
	padding: 5px 8px;
	cursor: pointer;
	&:hover { 
		color: white;
		background-color: MediumAquaMarine;
	}
}
.topbar {
	padding-top: 1px;
	margin-bottom: 30px;
	.searchbox {
		padding: 0 0 0 5px;
		border-bottom: 1px solid lighten(@muted, 35%);
		-webkit-transition: background-color 0.5s ease-in-out;
	    -moz-transition: background-color 0.5s ease-in-out;
	    -o-transition: background-color 0.5s ease-in-out;
	    transition: background-color 0.5s ease-in-out;
	}
	.fa-plus { border-bottom: 1px solid lighten(@muted, 35%)}
	.blue {
		background-color: @button;
	}
	.search {
		width: 80px;
		padding: 0;
		outline: none;
		border: none;
		font-size: 1em;
		background-color: transparent;
		-webkit-transition: width 0.5s ease-in-out;
	    -moz-transition: width 0.5s ease-in-out;
	    -o-transition: width 0.5s ease-in-out;
	    transition: width 0.5s ease-in-out;
	    color:@muted;
		&:focus {
			width: 200px;
			color: black;
		}
	}
}
.menu {
	min-height: 100%;
	width: 100%;
	background-color: @dark;
	.menu-heading{
		color: darken(@muted, 10%);
		padding: 5px 0;
		font-weight: bold;
	}
	.fa {
		background-color: transparent;
		padding: 0;
	}
	ul {
		padding: 0;
		margin: 0;
		list-style-type: none;
		li {
			border-bottom: 1px solid black;
			padding-left: 10px;
			a {
				font-size: 1em;
				font-weight: bold;
				color: @muted;
				text-decoration: none;
				display: block;
				line-height: 1em;
				padding: 10px 0;
				//text-transform: capitalize;
				&:hover {
					color: @link;
				}
			}
			li, li.sub-lvl-link {
				border-top: 1px solid black;
				border-bottom: none;
				margin-left: 2px;
				padding-left: 8px;
				padding-right: 25px;
				position: relative;
				background-color: lighten(@dark, 5%);
				a {
					font-size: .9em;
				}
				i.delete-link {
					position: absolute;
					right: 5px;
					top: 10px;
					cursor: pointer;
					&:hover {
						color: tomato;
					}
				}
			}
			li.add-to-menu {
				background-color: lighten(@dark, 4%);
				a {font-size: .8em}
				&:hover {
					background-color: lighten(@dark, 5%)
				}
			}
		}
		li.current a {
			color: lighten(@muted, 35%);
		}
		li:last-child {
			border-bottom: none;
		}
		.add-link {
			font-weight: bold;
			font-size: .9em;
			border: none;
			outline: none;
			background-color: transparent;
			color: @muted;
			padding: 10px 0;
			margin: 0;
		}

	}
	.tt-dropdown-menu {
		padding: 0;
		background-color: lighten(@dark, 10%);
		margin-top: 1px;
		font-size: 0.8em;
		color: @muted;
		font-weight: bold;
		.tt-suggestion {
			padding: 3px 10px;
			border-bottom: 1px solid #333;
			&.tt-cursor {
				background-color: lighten(@dark, 20%);
				color: lighten(@muted, 10%);
			}
			strong {
				color: lighten(@link,20%);
			}
		}
	}
}
.title-bar {
	position: relative;
	margin: 20px 0 0 0;
	//text-transform: capitalize;
	.title {
		font-size: 2em;
		font-weight: bold;
	}
	.edit-title {
		font-size: 2em;
		font-family: inherit;
		padding: 0;
		margin: 0;
		font-weight: bold;
		border:none;
		outline: none;
		border-bottom: 1px dashed gray; 
		background-color: transparent;
	}
}
.index-item {
	padding: 10px 15px 0 15px;
	background-color: #f8f8f8;
}
.editbox {
	border: 1px dotted gray;
	padding: 0 15px;
	margin-top: -10px;
	margin-left: -15px;
	margin-right: -15px;
}
.btn {
	cursor: pointer;
}
.edit-btn {
	padding: 5px 8px;
	background-color: @button;
	#fa-icon(pencil, @muted);
	float: right;
	&:hover{
		#fa-icon(pencil, white);
		background-color: MediumAquaMarine;
	}
}
.save-btn {
	padding: 5px 8px;
	background-color: @button;
	#fa-icon(check, green);
	float: right;
	&:hover{
		#fa-icon(check,white);
		background-color: MediumAquaMarine;
	}
}
.panel {
	padding: 20px 0;
	//background-color: @base-bg;
	p {
		margin-bottom: .8em;
	}
	.panel {
		margin: 5px 0;
		padding: 10px 20px 5px 20px;
		border-left: 2px solid #ddd;
		background-color: darken(@base-bg, 5%);
		.panel {
			background-color: darken(@base-bg, 10%);
			.panel {
				background-color: @base-bg;
				.panel {
					background-color: darken(@base-bg, 5%);	
					.panel {
						background-color: darken(@base-bg, 10%);	
					}
				}
			}		
		}
	}
}
.inneritem-title {
	font-size: 0.9em;
	font-weight: bold;
	color: @muted;
}
.innerlink {
	float: right;
	padding: 5px;
	color: lightgray;
	cursor: pointer;
	&:hover {
		color: tomato;
	}
}
/******************************/
//     confirmation box       //
/******************************/
.confirm-overlay {
	position: fixed;
	left: 0;
	top: 0;
	background-color: rgba(255, 255, 255, 0.5);
	height: 0;
	width: 0;
	&.show-confirm {
		height: 100%;
		width: 100%;
	}
}
.confirm-box-wrap {
	position: fixed;
	bottom: 0;
	height: 0;
	width: 100%;
	background-color: @dark;
	text-align: center;
	color: lightgray;
	overflow: hidden;
	-webkit-transition: height 0.2s ease-in-out;
    -moz-transition: height 0.2s ease-in-out;
    -o-transition: height 0.2s ease-in-out;
    transition: height 0.2s ease-in-out;
    &.show-confirm {
    	height: 100px;
    }
    .confirm-box {
    	margin: 10px 0;
    	font-size: 1.2em;
		span {
			font-weight: bold;
			color: white;
		}
    }
    .fa {
    	width: 30%;
		padding: 10px 0;
		background-color: lighten(@dark, 5%);
		cursor: pointer;
		// color: @dark;
    }
    .confirm-delete { 
    	&:hover{ background-color: MediumAquaMarine; color:white; }
    }
    .confirm-cancel { 
    	&:hover{ background-color: tomato; color:white}
    }
}
/******************************/
//        additembox          //
/******************************/
.additem-wrap {
	padding-top: 0px;
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 100%;
	overflow: hidden;
	border-bottom: 1px solid darken(@button, 15%);
	background-color: darken(@button, 5%);
	-webkit-transition: height 0.5s ease-in-out;
   	-moz-transition: height 0.5s ease-in-out;
   	-o-transition: height 0.5s ease-in-out; 
	transition: height 0.5s ease-in-out;
	&.show-additem {
		height:600px;
	}
	.additem-box {
		background-color: @button;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-content: stretch;
		align-items: stretch;
		width: 100%;
		min-height: 100%;
	}
	.fa { 
		float:right; 
		margin-left: .3em;
		margin-top: 1px; 
		background-color: darken(@button, 5%);
	}
	.bar { 
		height: 28px; 
	}
	#add-item {
		.title-bar {margin-top: 0;}
		#add-item-title {
			border-bottom: 1px dashed gray;
			background-color: transparent;
			&::-webkit-input-placeholder {font-style: italic;font-weight:normal;}
			&:-moz-placeholder {font-style: italic;font-weight:normal;}
			&::-moz-placeholder {font-style: italic;font-weight:normal;}
			&:-ms-input-placeholder {font-style: italic;font-weight:normal;}
		}
		.panel {background-color: transparent;}
	}
	.item {
		width: 700px;
		margin: 0 30px;
	}
	.additem-small {
		display: none;
	}
}
/******************************/
//        typeahead           //
/******************************/ 
.medium-editor-toolbar-form-anchor .twitter-typeahead {
	.tt-dropdown-menu {
		padding: 5px 0;
		background-color: #242424;
		margin-top: 1px;
		margin-left: 2px;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		font-size: 13px;
		.tt-suggestion {
			padding: 3px 10px;
			border-bottom: 1px solid black;
			&.tt-cursor {
				background-color: lighten(@dark, 10%);
			}
			strong {
				color: lighten(@link,20%);
			}
		}
	}
}
/******************************/
//          login             //
/******************************/
#login-buttons a, .accounts-dialog a{
	text-decoration: none;
}
#login-sign-in-link, .accounts-dialog > .login-close-text, #login-name-link {
	font-size: .9em;
}
.accounts-dialog {
	padding: 0px 12px 8px 12px;
	margin: 0px -12px 0 -12px;
	background-color: #2e2e2e;
	border: 1px solid black;
	color: #CACACA;
	input {
		background-color: @button;
		color: @dark;
		font-size: .8em;
		border-radius: 0;
	}
}
#login-buttons .login-button, .accounts-dialog .login-button {
	background-color: darken(mediumaquamarine, 15%);
}
#login-buttons .login-button:hover, .accounts-dialog .login-button:hover {
	background-color:  MediumAquaMarine;
}
/******************************/
//          footer            //
/******************************/
.footer-wrap {
	height: 100px;
	text-align: center;
	padding-top: 40px;
	margin-bottom: 200px;
	color: @muted;
}
.btn-link {
	font-size: 0.75em;
	color: @link;
	font-weight: bold;
	cursor: pointer;
	&:hover {
		color: tomato;
		text-decoration: underline;
	}
}
button {
	border: none;
	border-radius: 0;
	background-color: @button;
}
/******************************/
//          utils             //
/******************************/
//.caps {	text-transform: capitalize; }
.pull-right {float: right;}
.hide {
	display: none;
}
